.main_wrapper {
    display: flex;
}
.main_wrapper>*{
    padding: 20px;
    box-sizing: border-box;
}
.side_menu {

    /*height: 400px;*/
    width: 15%;
    background-color: #FBD603;

}

.content {
    /*height: 400px;*/
    width: 85%;
    background-color: darkorange;
}
