<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <default-context-path>/digital-paradise</default-context-path>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>


    <security-role>
        <role-name>ADMINS</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administrators pages</web-resource-name>
            <url-pattern>/faces/admin/user/add_user.xhtml</url-pattern> <!-- url in the app context pas/... -->
            <url-pattern>/faces/admin/user/AddAdministrator.xhtml</url-pattern>
            <url-pattern>/faces/admin/user/AddClient.xhtml</url-pattern>
            <url-pattern>/faces/admin/user/AddEmployee.xhtml</url-pattern>
            <url-pattern>/faces/admin/user/AllUsers.xhtml</url-pattern>
            <url-pattern>/faces/admin/user/update_user.xhtml</url-pattern>
            <url-pattern>/faces/admin/user/UpdateAdministrator.xhtml</url-pattern>
            <url-pattern>/faces/admin/user/UpdateClient.xhtml</url-pattern>
            <url-pattern>/faces/admin/user/UpdateEmployee.xhtml</url-pattern>
            <url-pattern>/faces/admin/user/user_errors.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMINS</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>EMPLOYEES</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Employees pages</web-resource-name>
            <url-pattern>/faces/employee/good/AllGoods.xhtml</url-pattern>
            <url-pattern>/faces/employee/good/add_product.xhtml</url-pattern>
            <url-pattern>/faces/employee/good/AddLaptop.xhtml</url-pattern>
            <url-pattern>/faces/employee/good/AddPC.xhtml</url-pattern>
            <url-pattern>/faces/employee/good/good_errors.xhtml</url-pattern>
            <url-pattern>/faces/employee/good/update_product.xhtml</url-pattern>
            <url-pattern>/faces/employee/good/UpdateLaptop.xhtml</url-pattern>
            <url-pattern>/faces/employee/good/UpdatePC.xhtml</url-pattern>
            <url-pattern>/faces/admin/user/AllUsers.xhtml</url-pattern>
            <url-pattern>/faces/client/order/AllOrders.xhtml</url-pattern>
            <url-pattern>/faces/client/order/order_errors.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>EMPLOYEES</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>CLIENTS</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Clients pages</web-resource-name>
            <url-pattern>/faces/client/order/AddOrder.xhtml</url-pattern>
            <url-pattern>/faces/client/order/AllOrders.xhtml</url-pattern>
            <url-pattern>/faces/client/order/order_errors.xhtml</url-pattern>
            <url-pattern>/faces/employee/good/AllGoods.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>CLIENTS</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>HttpsForced</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/auth/auth.html</form-login-page>
            <form-error-page>/auth/error.html</form-error-page>
        </form-login-config>
    </login-config>

</web-app>